# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
*.pywzz
*.pyzzz
*.pywzzz
*.pyzzzz
*.pywzzzz

# Environment variables
.env

# macOS
.DS_Store

# Linux
.vscode/
.idea/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
.coverage.*.*
.coverage.*.*.*
.coverage.*.*.*.*
